@model RTI.ModelingSystem.Core.Models.SystemSummaryViewModel

@{
    ViewBag.Title = "Predictive System Performance";
}
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>
<div class="container" style="overflow:hidden;">
    <ol class="breadcrumb">
        <li><a href="/ClientDatabase/Dashboard">Dashboard</a></li>
        <li class="active">Predictive System Performance</li>
    </ol>
    <div class="row">
        <!-- Customer info-->
        <div class="col-xs-6">
            @if (Model != null && Model.CustomerDetails != null)
            {
                <div class="custinfo_panel">
                    <div class="cust_name">
                        <div class="cust_name_trim" title="@Model.CustomerDetails.name">@Html.DisplayFor(model => model.CustomerDetails.name)</div>
                    </div>
                    <div class="cust_id">
                        <span>(</span>@for (int i = 0; i < 12 - (Model.CustomerDetails.customerID).ToString().Length; i++)
                        {
                            if (i == 3 || i == 7)
                            {
                                <span>-</span>
                            }
                            else
                            {
                                <span>0</span>
                            }

                        }<span>@Html.DisplayFor(model => model.CustomerDetails.customerID)</span><span>)</span>
                    </div>
                    <div class="plant_name">@Html.DisplayFor(model => model.CustomerDetails.plant) Plant</div>
                    <div class="cust_address">@Html.DisplayFor(model => model.CustomerDetails.city), @Html.DisplayFor(model => model.CustomerDetails.state)</div>
                </div>
            }

        </div>

        <!-- System summary-->
        <div class="col-xs-6">

            <div class="syssummary_panel">
                <div class="syssummary_panel_heading">System summary</div>
                @if (Model != null && Model.CustomerDetails != null && Model.WaterSourceOne != null)
                {
                    <div class="syssummary_panel_cont">
                        <ul class="col-xs-6">
                            <li>
                                Train information <br>
                                <span>
                                    @if (Model.Trains[0].using_manifold == "NO")
                                    {

                                        @Html.DisplayFor(model => model.CustomerDetails.num_trains) <span>trains - No Manifold</span>


                                    }
                                    else
                                    {

                                        @Html.DisplayFor(model => model.CustomerDetails.num_trains) <span>trains - Manifold</span>


                                    }
                                </span>
                            </li>
                            <li><span>$@Html.DisplayFor(model => model.CustomerDetails.caustic_price) / lb</span> (Caustic)</li>
                            <li><span>$@Html.DisplayFor(model => model.CustomerDetails.acid_price) / lb </span> (Acid)</li>
                        </ul>
                        <ul class="col-xs-6">
                            <li>
                                Water source(s)<br>
                                <span>1: @Html.DisplayFor(model => model.WaterSourceOne.full_site_name)</span> <br>
                                @if (Model != null && Model.WaterSourceTwo != null)
                                {
                                    <span>2: @Html.DisplayFor(model => model.WaterSourceTwo.full_site_name)</span>

                                }

                            </li>
                            <li>
                                Water demand<br>
                                <span>@string.Format("{0:n0}", Model.CustomerDetails.demand) gal / mo</span>
                            </li>
                        </ul>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- Graph Panel-->
    <div class="row">
        <!-- Graphs Left-->
        <div class="col-xs-8 graph_options">
            <h4>Predictive System Performance <a id="GetPerformanceSettings" data-target="#performSettings" data-toggle="modal" href="#"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span> Performance settings</a></h4>

            <div class="well graph_container">
                <div class="graph_panel">
                    <div id="SaltSplitChart"></div>


                </div>
                <div class="graph_panel" id="ThroghPutChart"></div>
            </div>
        </div>

        <!-- Graphs Right-->
        <div class="col-xs-4 rightpanel">
            <a href="/CostAnalyzer/CostAnalyzer" class="btn btn-primary disabled" id="runCostAnalysis">Run cost analysis</a>
            <div id="SystemConditions"></div>

            <div class="col-xs-12 table_title addmar_t_15">Water statistics</div>
            <div class="col-xs-12 nopad_l-r statlist_title">
                <div class="left">Avg Conductivity</div>
                <div class="right">Source 1</div>

                @if (Model.waterStatisticsViewModeldetails != null && Model.waterStatisticsViewModeldetails.usingTwoSources)
                {
                    <div class="right">Source 2</div>
                    <div class="right">Total<br />(weighted)</div>
                }
                
            </div>

            <div class="col-xs-12 nopad_l-r statlist">
                <div class="left">Conductivity(&mu;S)</div>
                <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtAvgSourceOneDiaplay)</div>

                @if (Model.waterStatisticsViewModeldetails != null && Model.waterStatisticsViewModeldetails.usingTwoSources)
                {
                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtAvgSourceTwoDisplay)</div>
                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtAvgTotalDisplay)</div>
                }
                <div class="dotted"></div>

            </div>

            <div class="col-xs-12 nopad_l-r statlist">
                <div class="left">Grains/Gal (gpg)</div>
                <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.GrainsCuFtSourceOneDisplay)</div>

                @if (Model.waterStatisticsViewModeldetails != null && Model.waterStatisticsViewModeldetails.usingTwoSources)
                {

                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.GrainsCuFtSourceTwoDisplay)</div>
                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.GrainsCuFtTotalDisplay)</div>
                }
                <div class="dotted"></div>

            </div>


            <div class="col-xs-12 nopad_l-r statlist brdr_t addmar_t_15">
                <div class="left">Avg Standard<br />Deviation (gpg)</div>
                <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtStdDevSourceOneDisplay)</div>

                @if (Model.waterStatisticsViewModeldetails != null && Model.waterStatisticsViewModeldetails.usingTwoSources)
                {
                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtStdDevSourceTwoDisplay)</div>
                    <div class="right">@Html.DisplayFor(model => model.waterStatisticsViewModeldetails.WtStdDevTotalDisplay)</div>
                }
                <div class="dotted"></div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="performSettings" data-backdrop="static">
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/PredictiveSystem.js"></script>
<script src="~/Scripts/PerformanceSettings.js"></script>
<script>
    $(document).on("click", "#updatePerformanceModel", function () {
        var resinLifeExpectancy = $('#resinLifeExpectancy').text().substr(0, $('#resinLifeExpectancy').text().indexOf(" "));
        var avgResinAge = $('#avgResinAge').text();
        var newResinSaltSplit = $('#newResinSaltSplit').text();
        var regenEffectiveness = $('#regenEffectiveness').text().replace('%', '');
        var maxDegradation = $('#maxDegradation').text().replace('%', '');
        var rticleaningThreshold = $('#RTIcleaningThreshold').text().replace('kg/cu ft', '');
        var resinReplacementLevel = $('#resinReplacementLevel').text().replace('kg/cu ft', '');
        var sourcePredictibilty = $('#sourcePredictibilty').text().replace('%', '');
        var noOfIterations = $('#noOfIterations').text();
        var standardDeviationInterval = $('#standardDeviationInterval').text();
        var replaceResin = $('#replaceResin').is(":checked");
        var calcMethod = $('#calcMethod :selected').val();
        var trainId = $('#trainList').val();
        var rticleaningeffectiveness = $('#RTICleaningEffectiveness').text().replace('%', '');
        var jsonData = {
            ResinLifeExpectancy: resinLifeExpectancy, AvgResinAge: avgResinAge, NewResinSaltSplit: newResinSaltSplit, RegenEffectiveness: regenEffectiveness,
            MaxDegradation: maxDegradation, RticleaningThreshold: rticleaningThreshold, ResinReplacementLevel: resinReplacementLevel, SourcePredictibilty: sourcePredictibilty,
            NoOfIterations: noOfIterations, StandardDeviationInterval: standardDeviationInterval, ReplaceResin: replaceResin, CalculationMethod: calcMethod, TrainId: trainId
        };

        jsonData = JSON.stringify(jsonData);
        $(".loader_xs").css('display', 'block');
        $.ajax({
            type: "GET",
            data: {
                numWeeks: resinLifeExpectancy, AvgResinage: avgResinAge,
                startingSS: newResinSaltSplit, maxDegSS: maxDegradation,
                SelectedTrain: trainId, CleaningEffectiveness: rticleaningThreshold, CleaningEffectiveness: rticleaningeffectiveness
            },
            url: '/PredictiveSystem/PlotSaltSplitChart',
            success: function (data) {
                $('#SaltSplitChart').empty();
                $('#SaltSplitChart').html(data);
            },
            error: function (xhr) {
                window.location.href = "/ClientDatabase/Errorview";
            }
        });
        
        $.ajax({
            type: "GET",
            data: {
                startingSS: newResinSaltSplit, resinLifeExpectancy: resinLifeExpectancy, simulationconfidence: sourcePredictibilty, num_simulation_iterations: noOfIterations,
                simMethod: calcMethod, stdDev_threshold: standardDeviationInterval, resinAge: avgResinAge, MaxDegradation: maxDegradation, Replacement_Level: resinReplacementLevel,
                RTIcleaning_Level: rticleaningThreshold, ReGen_effectivness: regenEffectiveness, SelectedTrain: trainId, DontReplaceResin: replaceResin, CleaningEffectiveness: rticleaningeffectiveness
            },
            url: '/PredictiveSystem/ThroughputChart',
            success: function (data) {
                $("#ThroghPutChart").empty();
                $("#ThroghPutChart").html(data);
                /*----------------- System Conditions ---------------*/
                
                $.ajax({
                    url: '/PredictiveSystem/SystemConditions',
                    type: 'GET',
                    success: function (data) { 
                        $("#SystemConditions").empty();
                        $("#SystemConditions").html(data);
                        $(".loader_xs").css('display', 'none');
                    },
                    error: function (xhr) {
                        window.location.href = "/ClientDatabase/Errorview";
                        $(".loader_xs").css('display', 'none');
                    }
                });
            },
            error: function (xhr) {
                window.location.href = "/ClientDatabase/Errorview";
            }
        });
    })

</script>